<DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8">
  <title>Nonbe</title>
  <meta name="description" content="旅先の酒造をめぐる人々を助けるWebサービス">
  <meta name="keywords" content="酒,酒造,旅">
  <meta name="author" content="Treasure2ndMA9-A">
  <link href="{{ asset('/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <link href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
  <link href="{{ asset('/select2-3.4.2/select2.css') }}" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Nonbe</a>
      </div>
    </div>
  </div>
  <!-- ここからメインコンテンツ -->
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <h2>旅行先の住所を入力してね〜</h2>
	<form action="{{ urlFor('geoset') }}" id="data" class="form-horizontal well">
	  <div class="control-group">
	    <label class="control-label" for="department">県</label>
	    <div class="controls">
	      <select id="department" name="department">
	      <!-- sample -->
	        <option value="北海道">北海道</option>
	        <option value="青森">青森</option>
              </select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="address">所在地</label>
	    <div class="controls">
	      <input id="address" name="address" type="text" class="span3" />
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls offset3">
	      <button id="send" type="submit" class="btn btn-success">送信</button>
	    </div>
	  </div>
	</form>
        <div id="map" style="width: 600px; height: 300px"></div>
      </div>
    </div>
    <footer>
      <p>&copy; Treasure2ndMA9-A 2013</p>
    </footer>
  </div>
  <script src="{{ asset('/js/jquery-2.0.0.js') }}"></script>
  <script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>
  <script src="{{ asset('/select2-3.4.2/select2.min.js') }}"></script>
  <script charset="utf-8" src="http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=dj0zaiZpPXQzOGhaYWJZVGcxZSZzPWNvbnN1bWVyc2VjcmV0Jng9NDA-"></script>
  <script src="{{ asset('/js/main.js') }}"></script>
  <script>
    $('#data').submit(function(event) {
      event.preventDefault();
      var department = $('#department').val(),
      address = $('#address').val(),
      posturl = $('#data').attr("action");
      //console.log(department);
      //console.log(address);
      //console.log(posturl);
      $.ajax({
        type: 'POST',
	url: posturl,
	data: {
	  'department': department,
	  'address': address
	}
      }).done(function(data) {
        //dataはajaxによって返されたデータ
	//var obj = $.parseJSON(data);
	//var makers = obj.makers;
	//console.log(makers[0].maker_name);
	console.log(data);

	//地図に対する処理
        var ymap = new Y.Map("map");
        ymap.drawMap(new Y.LatLng(35, 139), 17, Y.LayerSetId.NORMAL);
        ymap.setConfigure('dragging',true);
        ymap.setConfigure('singleClickPan',true);
        ymap.setConfigure('doubleClickZoom',true);
        ymap.setConfigure('continuousZoom',true);
        ymap.setConfigure('scrollWheelZoom',true);
      });
    });
  </script>
</body>
</html>
