<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8">
  <title>Nonbe</title>
  <meta name="description" content="旅先の酒造をめぐる人々を助けるWebサービス">
  <meta name="keywords" content="酒,酒造,旅">
  <meta name="author" content="Treasure2ndMA9-A">
  <link href="{{ asset('/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
  <link href="{{ asset('/jquery-ui/css/jquery-ui-1.10.3.min.css') }}" rel="stylesheet">
  <link href="{{ asset('/select2-3.4.2/select2.css') }}" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    @media (max-width: 980px) {
        body {
        padding-top: 0;
        }
    }
    #makers {
        border: 1px solid #cccccc;
        height:430px;
        overflow-y: scroll;
    }
    .autocomplete-loading {
        background: url('{{ asset('img/loader.gif') }}') right center no-repeat;
        background-size: 20px 20px;
    }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Nonbe-旅行先の酒蔵を探します</a>
      </div>
    </div>
  </div>
  <!-- ここからメインコンテンツ -->
  <div class="container">
    <div class="row">
      <div class="span8 offset2 well text-center">
        <input id="prefecture" name="prefecture" type="hidden" value="13">
        <span class="lead">旅行先はどちら??</span>
        <div class="input-append">
            <input id="address" name="address" type="text" class="span6">
            <button id="send" type="button" class="btn btn-success" data-loading-text="Loading...">送信</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span8" id="map" style="height:500px;"></div>
      <div class="span4">
        <h3 class="text-center">近隣の酒造</h3>
        <div id="makers">
            <img src="{{ asset('img/loader.gif') }}" id="loader" class="text-center" style="display:none;">
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; Treasure2ndMA9-A 2013</p>
    </footer>
  </div>
  <script src="{{ asset('/js/jquery-2.0.0.js') }}"></script>
  <script src="{{ asset('/jquery-ui/js/jquery-ui-1.10.3.min.js') }}"></script>
  <script src="{{ asset('/select2-3.4.2/select2.min.js') }}"></script>
  <script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>
  <script charset="utf-8" src="http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=dj0zaiZpPXQzOGhaYWJZVGcxZSZzPWNvbnN1bWVyc2VjcmV0Jng9NDA-"></script>
  <script src="{{ asset('/js/main.js') }}"></script>
  <script>
    var ymap = new Y.Map("map");
    $(function() { 
        var cache;
        $('#address').autocomplete({
            autoFocus: true,
            minLength: 2,
            source: function(request, responce) {
                $('#address').addClass('autocomplete-loading');
                $.ajax({
                    type: 'POST',
                    url: '{{ urlFor('address') }}',
                    data: {
                        address: request.term
                    }
                }).done(function(data) {
                    if(data != 'null') {
                        cache = $.parseJSON(data);
                        var source = [];
                        for(var i=0; i<cache.length; i++) {
                            source[i] = {label: cache[i].address, value: i};
                        }
                        responce(source);
                    } else {
                        responce([{label:'候補なし', value: ''}]);
                    }
                    $('#address').removeClass('autocomplete-loading');
                });
            },
            select: function(event, ui) {
                var val = ui.item.value;
                if(val !== '') {
                    $('#prefecture').val(cache[val].prefecture);
                    ui.item.value = cache[val].address;
    	            
                    var coordinate = cache[val].coordinate,
    	            YLL = new Y.LatLng(coordinate.lat, coordinate.lon);
    
    	            ymap.drawMap(YLL, 17, Y.LayerSetId.NORMAL);
                }
           }
        });
        $('#send').click(function() {
          $('#send').button('loading');
          $('#loader').toggle();
          $('.maker').remove();
          $.ajax({
            type: 'POST',
            url: '{{ urlFor('geoset') }}',
    	    data: {
              prefecture: $('#prefecture').val()
    	    }
          }).done(function(data) {
            //dataはajaxによって返されたデータ
        	var makers = $.parseJSON(data);
           	//酒蔵の名前をマーカーに載せるために必要
    	    var flag = -1;
    	    for(var i = 0; i<makers.length; i++){
                $('#makers').append(
                    '<div class="maker">' + makers[i].name + '</div>'
                );
                $.ajax({
                    type: 'POST',
                    url: '{{ urlFor('address') }}',
                    data: {
                        address: makers[i].address
                    }
                }).done(function(data) {
    	        flag++;
                    if(data != 'null') {
                        var geo = $.parseJSON(data);
    		            var marker = new Y.Marker(new Y.LatLng(geo[0].coordinate.lat, geo[0].coordinate.lon));
    		            marker.title = makers[flag].name;
    		            ymap.addFeature(marker);
                    }
                });
    	    }
    	    $('#send').button('reset');
            $('#loader').toggle();
          });
        });
    });
  </script>
</body>
</html>
